<div *ngIf="loading" class="container" style="justify-content: center;align-items: center;">
<mat-spinner  [diameter]="400"></mat-spinner>
</div>





<div *ngIf="!loading" class="container">
<h1 class="text-center">Analysis Chart</h1>
<h2 class="text-center">Number of Lessons</h2>
<form class="row" [formGroup]="filter">
<mat-form-field class="col-4">
  <mat-label>Select Country</mat-label>
  <mat-select formControlName="country" (ngModelChange)="changeFilter()">
    <mat-option  *ngFor="let country of ListOfCountries" [value]="country">
      {{country}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="col-4">
  <mat-label>Select Camp</mat-label>
  <mat-select formControlName="camp" (ngModelChange)="changeFilter()">
    <mat-option *ngFor="let camp of ListOfCamp" [value]="camp">
      {{camp}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="col-4">
  <mat-label>Select School</mat-label>
  <mat-select formControlName="school" (ngModelChange)="changeFilter()">
    <mat-option [value]="">
      Show All</mat-option>
    <mat-option *ngFor="let school of ListOfSchool" [value]="school">
      {{school}}
    </mat-option>
  </mat-select>
</mat-form-field>
</form>
<div style="display: block;">
  <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
</div>

